target/
build/
!.mvn/wrapper/maven-wrapper.jar
!.gradle/wrapper/gradle-wrapper.jar
.mvn/
mvnw
mvnw.cmd
.gradle/
gradlew
gradlew.bat
itas_backend/pom.xml
/logs/
*.log
*.log.*
*.tmp
*.swp
.idea/
*.iml
*.iws
*.ipr
uploads/
.vscode/
*.code-workspace
.env
.env.local
.env.*.local
itas_backend/src/main/resources/application-dev.yml
*.jar
*.war
*.ear
*.class
node_modules/
.next/
out/
.next/
.next/dev/cache/
*.env.local
*.env
.DS_Store
itas_backend/qodana.yaml
